/* Org::School, Org::SchoolDistrict */
.org-content {
  float: left;
  width: 60%; 
}

.org-right-sidebar {
  float: right;
  width: 35%;
  h4 {
    margin-bottom: 10px; 
  }
  ul {
    margin-bottom: 30px; 
  }
  li {
    list-style-type: none; 
    margin-bottom: 10px;
  }
}

.maincontentinner .links {
  clear: both;
}
