
	<script type="text/javascript">
    $(document).ready(function() {
      
      //$.noConflict();
		
		$(document).ready(function(){
			
			// dropdown in leftmenu
			$('.leftmenu .dropdown > a').click(function(){
				if(!$(this).next().is(':visible'))
					$(this).next().slideDown('fast');
				else
					$(this).next().slideUp('fast');	
				return false;
			});
			
			
			if($.uniform) 
			   $('input:checkbox, input:radio, .uniform-file').uniform();
				
			if($('.widgettitle .close').length > 0) {
				  $('.widgettitle .close').click(function(){
							 $(this).parents('.widgetbox').fadeOut(function(){
										$(this).remove();
							 });
				  });
			}
			
			
	
	
   // add menu bar for phones and tablet
   jQuery('<div class="topbar"><a class="barmenu">'+
		    '</a><div class="chatmenu"></a></div>').insertBefore('.mainwrapper');
	
	jQuery('.topbar .barmenu').click(function() {
		  
		  var lwidth = '260px';
		  if(jQuery(window).width() < 340) {
					 lwidth = '260px';
		  }
		  
		  if(!jQuery(this).hasClass('open')) {
					 jQuery('.rightpanel, .headerinner, .topbar').css({marginLeft: lwidth},'fast');
					 jQuery('.logo, .leftpanel').css({marginLeft: 0},'fast');
					 jQuery(this).addClass('open');
		  } else {
					 jQuery('.rightpanel, .headerinner, .topbar').css({marginLeft: 0},'fast');
					 jQuery('.logo, .leftpanel').css({marginLeft: '-'+lwidth},'fast');
					 jQuery(this).removeClass('open');
		  }
	});
	
	jQuery('.topbar .chatmenu').click(function(){
		if(!jQuery('.onlineuserpanel').is(':visible')) {
			jQuery('.onlineuserpanel,#chatwindows').show();
			jQuery('.topbar .chatmenu').css({right: '210px'});
		} else {
			jQuery('.onlineuserpanel, #chatwindows').hide();
			jQuery('.topbar .chatmenu').css({right: '10px'});
		}
	});
	
	// show/hide left menu
	jQuery(window).resize(function() {
		  if(jQuery('.topbar').is(':visible')) {
				if(jQuery('.barmenu').hasClass('open')) {
						 jQuery('.rightpanel, .headerinner').css({marginLeft: '260px'});
						 jQuery('.logo, .leftpanel').css({marginLeft: 0});
				} else {
						 jQuery('.rightpanel, .headerinner').css({marginLeft: 0});
						 jQuery('.logo, .leftpanel').css({marginLeft: '-260px'});
				}
		  } else {
				jQuery('.rightpanel, .headerinner').css({marginLeft: '260px'});
				jQuery('.logo, .leftpanel').css({marginLeft: 0});
		  }
   });
	
	// dropdown menu for profile image
	jQuery('.userloggedinfo img').click(function(){
		  if(jQuery(window).width() < 480) {
					 var dm = jQuery('.userloggedinfo .userinfo');
					 if(dm.is(':visible')) {
								dm.hide();
					 } else {
								dm.show();
					 }
		  }
   });
	
			/*
			// change skin color
			$('.skin-color a').click(function(){ return false; });
			$('.skin-color a').hover(function(){
				var s = $(this).attr('href');
				if($('#skinstyle').length > 0) {
					if(s!='default') {
						$('#skinstyle').attr('href','css/style.'+s+'.css');	
						$.cookie('skin-color', s, { path: '/' });
					} else {
						$('#skinstyle').remove();
						$.cookie("skin-color", '', { path: '/' });
					}
				} else {
					if(s!='default') {
						$('head').append('<link id="skinstyle" rel="stylesheet" href="css/style.'+s+'.css" type="text/css" />');
						$.cookie("skin-color", s, { path: '/' });
					}
				}
				return false;
			});
			
			// load selected skin color from cookie
			if($.cookie('skin-color')) {
				var c = $.cookie('skin-color');
				if(c) {
					$('head').append('<link id="skinstyle" rel="stylesheet" href="css/style.'+c+'.css" type="text/css" />');
					$.cookie("skin-color", c, { path: '/' });
				}
			}
			*/
			
			// expand/collapse boxes
			if($('.minimize').length > 0) {
				  
				  $('.minimize').click(function(){
							 if(!$(this).hasClass('collapsed')) {
										$(this).addClass('collapsed');
										$(this).html("&#43;");
										$(this).parents('.widgetbox')
												      .css({marginBottom: '20px'})
														.find('.widgetcontent')
														.hide();
							 } else {
										$(this).removeClass('collapsed');
										$(this).html("&#8211;");
										$(this).parents('.widgetbox')
												      .css({marginBottom: '0'})
														.find('.widgetcontent')
														.show();
							 }
							 return false;
				  });
					  
			}
			
			// fixed right panel
			var winSize = $(window).height();
			if($('.rightpanel').height() < winSize) {
				$('.rightpanel').height(winSize);
			}
			
			
			// if facebook like chat is enabled
			if($.cookie('enable-chat')) {
				
				$('body').addClass('chatenabled');
				$.get('ajax/chat.html',function(data){
					$('body').append(data);
				});
				
			} else {
				
				if($('.chatmenu').length > 0) {
					$('.chatmenu').remove();
				}
				
			}
			
		});
		      

    
        
        //datepicker
        $('#datepicker').datepicker();
        $( ".datepicker" ).datepicker({});
        
        // tabbed widget
        $('.tabbedwidget').tabs();
        
        
    });
</script>