<div class="footer">
	
    <div class="footer-left">
        <span>&copy; <%= Time.new.year %> -  This is test project. All Rights Reserved.</span>
    </div>
    <div class="footer-right">
       
    </div>
    <br/><br/><%= debug(params) if Rails.env.development? %>
</div><!--footer-->
