<div class="pageheader">
    <!--<form action="results.html" method="post" class="searchbar">
        <input type="text" name="keyword" placeholder="To search type and hit enter..." />
    </form>-->
    
    <% if params[:controller].include?('admin/static')%>
    <a href="<%= root_path %>">
	    <div class="pageicon"><span class="iconfa-laptop"></span></div>
	    <div class="pagetitle">
	        <h5>Namespace</h5>
	        <h1>Dashboard</h1>
	    </div>
    </a>
    <% end %>
    
    <% if params[:controller].include?('account')%>
    <a href="<%= account_users_path %>">
	    <div class="pageicon"><span class="iconfa-user"></span></div>
	    <div class="pagetitle">
	        <h5>Namespace</h5>
	        <h1>Account</h1>
	    </div>
    </a>
    <% end %>
    
    <% if params[:controller].include?('vendor')%>
    <a href="#">
	    <div class="pageicon"><span class="iconfa-briefcase"></span></div>
	    <div class="pagetitle">
	        <h5>Namespace</h5>
	        <h1>Vendor</h1>
	    </div>
    </a>
    <% end %>
    
    
</div><!--pageheader-->
