    <div class="rightpanel">
        
        
        
        <%= render 'layouts/infocontact/breadcrumbs' %>
        
        
        <%= render 'layouts/infocontact/flash_messages' %>
        
        <div class="maincontent">
            <div class="maincontentinner">
            	
            	<%= yield %>
  
                <%= render 'layouts/infocontact/footer' %>               
            </div><!--maincontentinner-->
        </div><!--maincontent-->        
    </div><!--rightpanel-->